.env
directions.txt
venv
venv/*
models/stock_predictor.joblib
stocknotifier-448414-ed3bb01223fb.json
service-account-key.json
src/__pycache__/*
init_db.py
setup.py
lambda_deployment.zip
lambda_layer
src/__pycache__/main.cpython-312.pyc
src/__pycache__/schemas.cpython-312.pyc
